@model Bio
<footer>
        <div class="container">
            <div class="row py-5">
                <div class="col-md-6 col-lg-3">
                    <div class="item">
                        <h6>MÜŞTƏRİ XİDMƏTLƏRİ</h6>
                        <ul class="list-unstyled mt-4">
                            <li><a class="text-black-50" href="">Kömək & Bizimlə Əlaqə</a></li>
                            <li><a class="text-black-50" href="">Dönüş & Qaytarma</a></li>
                            <li><a class="text-black-50" href="">Onlayn Satış</a></li>
                            <li><a class="text-black-50" href="">Şərtlər</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="item">
                        <h6>ŞİRKƏT</h6>
                        <ul class="list-unstyled mt-4">
                            <li><a class="text-black-50" href="">Haqqımızda</a></li>
                            <li><a class="text-black-50" href="">Blog</a></li>
                            <li><a class="text-black-50" href="">Sifariş İzlənməsi</a></li>
                            <li><a class="text-black-50" href="">Bizimlə Əlaqə</a></li>
                            <li><a class="text-black-50" href="">Daxil Ol</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="item">
                        <h6>SOSİAL MEDİYA</h6>
                        <ul class="list-unstyled mt-4">
                            <li><a class="text-black-50" href="">Twitter</a></li>
                            <li><a class="text-black-50" href="">Instagram</a></li>
                            <li><a class="text-black-50" href="">Tumblr</a></li>
                            <li><a class="text-black-50" href="">Pinterest</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="item">
                        <h6>ARXİV</h6>
                        <ul class="list-unstyled mt-4">
                            <li><a class="text-black-50" href="">Qalereya</li>
                            <li><a class="text-black-50" href="">Qiymət</a></li>
                            <li><a class="text-black-50" href="">Daxil Ol</a></li>
                            <li><a class="text-black-50" href="">Yardım & Dəstək</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row py-2">
                <div class=" col-lg-4 text-center text-lg-left">
                    <p class="text-black-50">Yazılıb : <a class="author text-muted"
                            href="https://www.ElAy.az">@Model.Author</a> 2022</p>
                </div>
                <div class=" col-lg-4 text-center">
                    <img src="img/footer-bottom-1.png" class="fluid" alt="">
                </div>
                <div class=" col-lg-4 text-center text-lg-right mt-3 mt-lg-0">
                    <a class="text-black-50 mr-5"
                        href="@Model.Linkedin">LINKEDIN</a
                        class="text-black-50">
                    <a class="text-black-50" href="@Model.Facebook">FACEBOOK</a>
                </div>
            </div>
        </div>
    </footer>